#menu-container {
  position: relative;
}

#menu {
  position: absolute;
  top: 0;
  width: 90%;
}

/*hr{
	color:black;
	background-color:black;
}*/
<hr style="height:1px;border:none;color:#333;background-color:#333;" />
